
.resttype {
    width: 350px;
    text-align: left;
    padding-left: 40px;
    line-height: 68px;
    font-weight: bold;
    font-size: 30px;
}

.resttype img{
    float: left;
    margin-right: 10px;
}

.jumbotron {
    text-align: center;
}


h1{
    margin: 40px 0;
}

.loading {
    width: 300px;
    padding-top: 200px;
    text-align: center;
    margin: 0 auto;
}

h1 strong{
    font-family: 'Lobster', cursive;
}

